@let user = profile();
<div class="profile-card">
  <div class="avatar-name">
    <img [src]="user.avatarUrl | ttImageUrl" [alt]="user.description" class="profile-card__avatar"/>
    <div class="profile-card__name">
      <strong>{{ user.firstName }} {{ user.lastName }}</strong>
      <span class="subtitle">{{ user.username }}</span>
    </div>
  </div>
  <div class="profile-card__description">
    {{ user.description }}
  </div>
  <ul class="profile-card__tags">
    @for(stack of user.stack; track stack) {
      <li class="skill-tag">{{ stack }}</li>
    }
  </ul>
  <div class="profile-card__actions">
    <button class="btn">
      <span>Подписаться</span> <img src="/assets/icons/friend-add.svg" alt="" class="icon">
    </button>
  </div>
</div>
