:host {
  display: grid;
  grid-template-columns: 112px 1fr;
  grid-gap: 1.5rem;
}

img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  object-fit: cover;
}

.username-and-name {
  text-align: left;
  gap: 1rem;
}
