<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <h1 class="mb32">Вход</h1>
  <label class="tt-control-label mb16">
    Telegram username
    <input
      type="text"
      placeholder="Введите логин"
      class="tt-input"
      formControlName="username"
    />
    <img
      src="/assets/icons/telegram.svg"
      class="tt-control-icon"
      alt
    />
  </label>
  <label class="tt-control-label mb32">
    Пароль
    <input
      [type]="isPasswordVisible ? 'text' : 'password'"
      placeholder="Введите пароль"
      class="tt-input"
      formControlName="password"
    />
    <img
      src="/assets/icons/password.svg"
      (click)="isPasswordVisible = !isPasswordVisible"
      class="tt-control-icon"
      style="cursor: pointer"
      alt
    >
  </label>
  <button class="btn btn-shadow">Войти</button>
</form>
