@let user = profile();
<div class="profile-card">
  <a [routerLink]="['/profile', user.id]">
    <div class="avatar-name">
      <tt-avatar-circle [avatarUrl]="user.avatarUrl" class="size70" />
      <div class="profile-card__name">
        <strong>{{ user.firstName }} {{ user.lastName }}</strong>
        <span class="subtitle">{{ user.username }}</span>
      </div>
    </div>
  </a>
  <div class="profile-card__description">
    {{ user.description }}
  </div>
  <ul class="profile-card__tags">
    @for (stack of user.stack; track stack) {
      <li class="skill-tag">{{ stack }}</li>
    }
  </ul>
  <div class="profile-card__actions">
    <button class="btn">
      <span>Подписаться</span> <img src="/assets/icons/friend-add.svg" alt="" class="icon" />
    </button>
  </div>
</div>
