<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <h1 class="mb32">Вход</h1>
  <label class="tt-control-label mb16">
    Telegram username
    <input
      type="text"
      placeholder="Введите логин"
      class="tt-input"
      formControlName="username"
    />
  </label>
  <label class="tt-control-label mb32">
    Пароль
    <input
      type="text"
      placeholder="Введите пароль"
      class="tt-input"
      formControlName="password"
    />
  </label>
  <button class="btn btn-shadow">Войти</button>
</form>
<img src="/assets/images/logo.svg">
