form {
  max-width: 600px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 24px;
}

.btn-mb {
  margin-bottom: 32px;
}

.two-columns {
  display: grid;
  margin-top: 12px;
  margin-bottom: 12px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
}

.tt-input::-webkit-calendar-picker-indicator {
  background: var(--primary-color);
  border: none;
  cursor: pointer;
}
